body {
  margin: 0;
  overflow: hidden;
  height: 100%;

}

.opening {
  background-color: #ff0019;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.opening p {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  display: none;
  z-index: 6;
  font-size: 20px;
  font-weight: bold;
  font-family: "遊ゴシック", sans-serif;
  color: white;
}

#stage
{
  position: relative;
}

#persent {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  user-select: none;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

#count {
  font-size: 100px;
  margin-right: 5px;
  font-family: Helvetica, sans-serif;

}

#persent.remove {
  display: none;
}

#snow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#snow.hide {
  display: none;
}

#fade {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  animation: fade 3s ease-out;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#fade.hide {
  display: none;
  z-index: -2;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#svg.hide {
  display: none;
}

#starttext {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: -50%;
  padding: 0 5px;
  width: 140px;
  height: 140px;
  line-height: 30px;
  text-align: center;
  color: #ff0019;
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  background: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  user-select: none;
  z-index: 3;
  animation-name: fuwa;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;

    -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      opacity: 1;
}
#starttext:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffffff;
}
#starttext p {
  margin-top: 26px;
}

@keyframes fuwa {
  0% {
      transform: translate(-50%,0px);
  }

  100% {
      transform: translate(-50%,-15px)
  }
}

#starttext.remove {
  opacity: 0;
}
#starttext.remove2 {
  display: none;
}